@use '../../styles/mixins' as *;

.contact {
  background: #fff;
  color: #000;
  padding: 3rem 0 4rem;
}

.contact__container {
  @include container(1200px);
}

.contact__title {
  font-family: 'new-spirit', serif;
  font-size: clamp(2rem, 3vw, 2.5rem);
  text-align: center;
  margin: 0;
}